<div class="transfer-container">
  <textarea class="flex-item form-control text-input" (ngModelChange)="onInputChange($event)" rows="8" [ngModel]="input"></textarea>
  <div class="convert-options">
    <div>
      <label for="mode_selector">モード</label>
      <select class="custom-select" id="mode_selector" [(ngModel)]="mode" (change)="doConvert()">
        <option *ngFor="let m of modes" [value]="m">{{m}}</option>
       </select>
    </div>
    <div>
      <label for="target_selector">ターゲット</label>
      <select class="custom-select" id="target_selector" [(ngModel)]="to" (change)="doConvert()">
          <option *ngFor="let t of targets" [value]="t">{{t}}</option>
      </select>
    </div>
  </div>
  <pre class="flex-item text-output" [innerHTML]="output">
   </pre>
</div>
